<%= form_for(@pain_point, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @pain_point.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@pain_point.errors.count, "error") %> prohibited this pain_point from being saved:</h4>

      <ul>
      <% @pain_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :date, id: 'datetimepicker_value' %>

  <div style="overflow:hidden;">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12">
          <div id="datetimepicker12" data-date="<%= (@pain_point.date || DateTime.now) %>"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :magnitude, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :magnitude, class: "form-control", placeholder: 'Magnitude' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_area :notes, class: "form-control", placeholder: 'Notes' %>
    </div>
  </div>
    <!--
  <div class="form-group">
    <%= f.label :location_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :location_id, class: "form-control" %>
    </div>
  </div>
    -->
  <div class="form-group">
    <%= f.label :activity, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% activity_val = @pain_point.activity ? @pain_point.activity.name : '' %>
      <%= text_field_tag :activity, activity_val,
      class: "form-control typeahead", placeholder: 'Activity', data: {prefetch:
      activities_path(format: :json), value: 'id', name: 'activity_id', display: 'name', local: current_user
          .activities.map{|a| a.name}.to_json, init: activity_val} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% location_val = @pain_point.location ? @pain_point.location.name : '' %>
      <%= text_field_tag :location, location_val,
                         class: "form-control typeahead",
                         placeholder: 'Location', data: {prefetch:
      locations_path(format: :json), value: 'id', name: 'location_id', display: 'name', local: Location.all
          .map{|a| a.name}.to_json, init: location_val } %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
