<% provide :title, 'Pain Points' %>
<% provide :active, 'Pain Points' %>
<% provide :heading, "#{current_user.first_name ? current_user.first_name + "'" : ""} Pain Points" %>

<div class="row">
  <div class="col-xs-12">
    <% @filter ||= {} %>
    <div class="row">
      <%= form_tag(pain_points_path) do %>
          <div class="col-xs-12">
            <h2 class="filter-heading">Filters</h2>
            <%= link_to 'Clear Filters', pain_points_path %>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="datetimepicker input-group date" data-date="<%= @filter[:min_date] || @pain_points.first.date || DateTime.now %>" data-inline="false">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">MinDate</span>
              </span>
              <input type='text' class="form-control" name="filter[:min_date]"/>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="datetimepicker input-group date" data-date="<%= @filter[:max_date] || @pain_points.last.date || DateTime.now %>" data-inline="false">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">MaxDate</span>
              </span>
              <input type='text' class="form-control" name="filter[:max_date]"/>
            </div>
          </div>
          <div class="col-xs-6 tag-list" id="activity-list">
          </div>

          <div class="col-xs-6 tag-list" id="location-list">
          </div>

      <% end %>
      <div class="col-xs-6">
        <%= form_tag tag_list_path, remote: true, id: 'activity-form' do %>
            <%= hidden_field_tag 'tag_list[action]', 'add' %>
            <%= hidden_field_tag 'tag_list[name]', 'activity' %>
              <%= text_field_tag 'tag_list[tag]', nil,
                            class: 'form-control typeahead', placeholder: 'Activity', data: {
                              prefetch: activities_path(format: :json), value: 'id', name: 'activity_id', display: 'name',
                              local: current_user.activities.map{|a| a.name}.to_json, init: nil} %>
              <%= submit_tag 'Add Activity to Filters', class: 'btn btn-default form-control' %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= form_tag tag_list_path, remote: true, id: 'activity-form' do %>
            <%= hidden_field_tag 'tag_list[action]', 'add' %>
            <%= hidden_field_tag 'tag_list[name]', 'location' %>
            <%= text_field_tag 'tag_list[tag]', nil,
                            class: 'form-control typeahead',
                            placeholder: 'Location', data: {
                              prefetch: locations_path(format: :json), value: 'id', name: 'location_id', display: 'name',
                              local: Location.all.map{|a| a.name}.to_json, init: nil } %>
            <%= submit_tag 'Add Location to Filters', class: 'btn btn-default form-control' %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <h2>Total Pain - <%= @pain_points.sum(:magnitude) %></h2>
  </div>

  <%= render 'index' %>
  <div class="col-xs-12">
    <div class="form-group form-inline">
      <%= form_tag(pain_points_upload_path, method: :post, multipart: true) do %>
          <%= submit_tag('Upload CSV', class: 'btn btn-primary') %>
        <%= file_field_tag(:file, class: 'form-control') %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12">
    <%= link_to 'Cleanup Duplicates', cleanup_path %>
  </div>

  <%if !@pain_points.is_a?(Array) %>
      <div class="col-xs-12">
        <h2><%=filter_title_for(@pain_points.first, @filter)%> Pain Over Time</h2>
        <% total_data = @pain_points.group(:date).sum(:magnitude) %>
        <%= chart_or_banner total_data, line_chart(total_data) %>
      </div>
  <% end %>

  <% [:activity, :location].each do |term| %>
  <div class="col-xs-12 col-sm-6"%>
    <h2>Pain by <%=term.to_s.titleize%></h2>
    <% term_data = @pain_points.includes(term).group("#{term.to_s.pluralize}.name").sum(:magnitude) %>
    <%= chart_or_banner term_data, pie_chart(term_data, library: PainTracker::PIE_CHART_NO_LEGEND) %>
  </div>
  <% end %>
</div>
