<% provide :title, 'Pain Points' %>
<% provide :active, 'Pain Points' %>
<% provide :heading, "#{current_user.first_name ? current_user.first_name + "'" : ""} Pain Points" %>

<div class="row">

  <%= render 'index' %>

  <div class="col-xs-12">
    <div class="form-group form-inline">
      <%= form_tag(pain_points_upload_path, method: :post, multipart: true) do %>
          <%= submit_tag('Upload CSV', class: 'btn btn-primary') %>
        <%= file_field_tag(:file, class: 'form-control') %>
      <% end %>
    </div>
  </div>
<%if !@pain_points.is_a?(Array) %>
<div class="col-xs-12">
  <h2><%=filter_title_for(@pain_points.first)%> Pain Over Time</h2>
  <%# Need to "reorder" or, remove the order clause before aggregating because pg sql is no bueno %>
  <%= line_chart @pain_points.reorder('').group(:date).sum(:magnitude) %>
  <%= bar_chart @pain_points.reorder('').group(:date).sum(:magnitude) %>
</div>
<% end %>

</div>
