<% provide :title, 'Pain Points' %>
<% provide :active, 'Pain Points' %>
<% provide :heading, "#{current_user.first_name ? current_user.first_name + "'" : ""} Pain Points" %>

<div class="row">
  <div class="col-xs-12">
    <% @filter ||= {} %>
    <%= link_to 'Show/Hide Filters', '#filters', data: {toggle: 'collapse'}, aria: {expanded: true, controls: 'filters'}%>
    <div class="row collapse in" id="filters">
      <%= form_tag(pain_points_path, method: :get) do %>
          <div class="col-xs-12 filters">
            <h2 >Filters</h2>
            <%= link_to pain_points_path, class: 'btn btn-primary btn-sm' do %>
                <span class="glyphicon glyphicon-remove"></span>
                Clear Filters
            <% end %>
            <%= submit_tag 'Apply Filters', class: 'btn btn-primary btn-sm' %>
            <%if(!@group.nil?)%>
                <%= check_box_tag 'group', 'day', checked: true%>
            <% else %>
                <%= check_box_tag 'group', 'day' %>
            <% end %>
            <%= label_tag('group', 'Group By Day') %>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="datetimepicker input-group date" data-date="<%= @filter[:min_date] || DateTime.now %>" data-inline="false">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">MinDate</span>
              </span>
              <input type='text' class="form-control" name="filter[min_date]"/>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="datetimepicker input-group date" data-date="<%= @filter[:max_date] || DateTime.now %>" data-inline="false">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar">MaxDate</span>
              </span>
              <input type='text' class="form-control" name="filter[max_date]"/>
            </div>
          </div>
          <div class="col-xs-6 hidden" id="activity-list">
            <% @activities.each do |name| %>
              <%= hidden_field_tag 'filter[activity][name][]', name, data: {tag: name} %>
            <% end %>
          </div>
          <div class="col-xs-6 hidden" id="location-list">
            <% @locations.each do |name| %>
                <%= hidden_field_tag 'filter[location][name][]', name, data: {tag: name} %>
            <% end %>
          </div>
      <% end %>
      <div class="col-xs-6">
        <%= form_tag tag_list_path, remote: true, id: 'activity-form' do %>
            <%= hidden_field_tag 'tag_list[action]', 'add' %>
            <%= hidden_field_tag 'tag_list[name]', 'activity' %>
            <%= text_field_tag 'tag_list[tag]', nil,
                               class: 'form-control typeahead', placeholder: 'Activity', data: {
                    prefetch: activities_path(format: :json), value: 'id', name: 'activity_id', display: 'name',
                    local: current_user.activities.map{|a| a.name}.to_json, init: nil} %>
            <%= submit_tag 'Add Activity to Filters', class: 'btn btn-default form-control' %>
            <% (@activities).each do |name| %>
                <%= hidden_field_tag "tag_list[list][]", name, data: {tag: name} %>
                <%= link_to tag_list_path(tag_list: {action: 'remove', tag: name, name: 'activity'}), method: :post, class: "btn btn-primary tag", data: {tag: name}, remote: true do %>
                    <span class="glyphicon glyphicon-remove"></span>
                    <%= name %>
                <% end %>
            <% end %>
        <% end %>
      </div>
      <div class="col-xs-6">
        <%= form_tag tag_list_path, remote: true, id: 'location-form' do %>
            <%= hidden_field_tag 'tag_list[action]', 'add' %>
            <%= hidden_field_tag 'tag_list[name]', 'location' %>
            <%= text_field_tag 'tag_list[tag]', nil,
                            class: 'form-control typeahead',
                            placeholder: 'Location', data: {
                              prefetch: locations_path(format: :json), value: 'id', name: 'location_id', display: 'name',
                              local: Location.all.map{|a| a.name}.to_json, init: nil } %>
            <%= submit_tag 'Add Location to Filters', class: 'btn btn-default form-control' %>
            <% (@locations).each do |name| %>
                <%= hidden_field_tag "tag_list[list][]", name, data: {tag: name} %>
                <%= link_to tag_list_path(tag_list: {action: 'remove', tag: name, name: 'location'}), method: :post, class: "btn btn-primary tag", data: {tag: name}, remote: true do %>
                    <span class="glyphicon glyphicon-remove"></span>
                    <%= name %>
                <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-12">
    <h2>Total Pain - <%= @pain_points.sum(:magnitude) %></h2>
  </div>

  <%= render 'index' %>
  <div class="col-xs-12">
    <div class="form-group form-inline">
      <%= form_tag(pain_points_upload_path, method: :post, multipart: true) do %>
          <%= submit_tag('Upload CSV', class: 'btn btn-primary') %>
        <%= file_field_tag(:file, class: 'form-control') %>
      <% end %>
    </div>
  </div>

  <div class="col-xs-12">
    <%= link_to 'Cleanup Duplicates', cleanup_path %>
  </div>
  <%= render partial: 'layouts/group_charts', locals: {pain_points: @pain_points, length: nil, min_date: @filter[:min_date], max_date: @filter[:max_date], period: @group, options: {title: "#{filter_title_for(@pain_points.first, @filter)} Pain Over Time", heading: 2}} %>
</div>
