<%# Expects collection and attributes arguments %>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <% attributes.each do |attr| %>
          <th><%= attr.to_s.titleize %></th>
      <% end %>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody id="editable_table">
    <% (collection || []).each do |item| %>
      <%= form_for(item, remote: true) do |f|%>
      <tr id="<%= item.new_record? ? 'new_record' : item.id%>">
        <% attributes.each do |attr| %>
          <td><%= f.text_field attr, class: 'form-control' %></td>
        <% end %>
        <td><%= f.submit item.new_record? ? 'Submit' : 'Update', class: 'btn btn-primary' %></td>
        <td>
          <% if !item.new_record? %>
            <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn
            btn-danger', type: 'button' %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
